body {
  height: 100%;
  width: 100%;
  font-family: 'Alata', sans-serif;
  color: #2D3319;
  background-color: #ffffff;
}

navbar {
  padding: .8rem;
  color: blue;
}



.nav-link {
  font-size: 1em !important;

}


.carousel-indicators{
  color: black;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  opacity: 70%;
  font-size: 200%;
  text-transform: uppercase;

  text-shadow: 1px 1px 15px #343A40;

}

.carousel-caption h3 {
  font-size: 100%;
  opacity: 30%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.btn-primary {
  opacity: 40%;
  background-color: #000000;
  border: 1px solid #6648b1;
}

.btn-primary:hover {
  opacity: 40%;
  background-color: black;
  border: 1px solid #563d7c;
}


.jumbotron{
  background-color: white;
  height: 10rem;
  text-decoration-color: black;
}


.card {
  background-color: #0051a1;
  width: 8rem;
}

.card-text {
  color: white;
  text-align: center;
}

.card-title {
  color: black;
  text-align: center;
}




.card:hover {
  -webkit-box-shadow: 1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 9px 40px -12px rgba(0, 0, 0, 0.75);



